<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="testingTokenFile" value="Token.txt"/>
		<add key="productionTokenFile" value="Token.txt"/>

		<add key="testingBanTimeMinutes" value="1"/>
		<add key="productionBanTimeMinutes" value="1"/>

		<add key="testingUnbanTimeMinutes" value="5"/>
		<add key="productionUnbanTimeMinutes" value="15"/>

		<add key="liruId" value="138516660016513024"/>

		<add key="version" value="0.1.2"/>
		<add key="donationsWalletEth" value="0xE210b332cCC260Bc35E3abcF28a2E236bAA1ecA4"/>
		<add key="donationsWalletSol" value="GBeac871XoWrfXnB7obJhaLecZ41WLcefshB8aiMcbkY"/>
	</appSettings>

	<connectionStrings>
		<add name="main" connectionString="Data Source=.\\database.db;"/>
	</connectionStrings>
</configuration>